body{
  font-family: arial, sans-serif;
}
nav{
  width: 100%;
  height: 60px;
  background: #344051;
}
.name {
  color: #fff;
  font-size: 25px;
  line-height: 60px;
  padding-left: 390px;
  float: left;
}
.menu{
  float: left;
  padding-left: 430px;


}
.menu li{
  float: left;
  line-height: 60px;
  color: #fff;
  margin-right: 40px;
  font-size: 16px;
  text-transform: uppercase;
}
.main{
  width: 100%;
  height: 1020px;
  background:url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}
.title_conteiner{
  float: left;
  margin: 435px 0px 0px 400px;
  color: #2c384a;
  text-align: center;
}
.title_conteiner h1{
  font-size: 60px;
  font-weight: 400;

}
.title_conteiner h4{
  margin-top: 60px;
  font-size: 20px;
  color: #79818d;
}
.title_conteiner input{
  height: 40px;
  text-align: center;
  border:2px solid #6d7682;
  background: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 0px 16px;
  margin: 55px 14px 0px 14px;
}
.head h2{
  color: #263244;
  text-align: center;
  font-size: 40px;
  background: url(../img/stick.png) no-repeat bottom/75px ;
  padding:100px 0px 30px 0px;
  weight:bold;

}

.myinf{
  background: url(../img/bg2/png) 75px 5px;
  width: 100%;
  height: 715px;
}
.myinf_conteiner{
  float: left;
}
.myinf p{
  text-align: left;
  margin: 25px 595px;
}
.myinf img{
  margin: 30px 860px;
}
.myinf input{
  height: 40px;
  text-align: center;
  border:2px solid #6d7682;
  background: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 0px 16px;
  margin: 55px 890px
}
.services{
  width: 100%;
  height: 515px;
  background: url(../img/bg3.png) center/cover no-repeat;
}
.icon{
  float: left;
  width: 215px;
  height: 160px;
  margin-left: 80px;
  padding: 90px 10%;



}
.icon img{
  padding:0px 95px;

}
.icon p{
  width: 215px;
  height: 160px;
  text-align: center;

}
.icon h3{
  padding:40px 30px 20px 30px;

  font-size: 30px;
  color: #cf7600;
  white-space: nowrap;
  text-align: center;
}

.cases{
  width: 100%;
  height: 1175px;

}
.cases_container>p{
  text-align: center;
  margin: 35px 0px;
}

.cases_container h3{
  padding-left: 385px;
  padding-top: 18px;
  font-weight: bold;
  font-size: 30px;
  color: #384354;
  text-transform: uppercase;
}
.cases_inf{
  float: left;
}
.project_inf{
  width: 215px;
  height: 100px;

}
.project_inf p{
    padding-left: 390px;
    text-align:center;
}
.project_name{
  height: 95px;
  width: 855px
  padding-bottom:  200px;
}
.project_name h3{
  margin-left: 670px;

}
.project_name p{
  margin-left: 1050px;
  text-align: left;

}
.cases_container input{
 border-radius: 5px;
 border: 2px;
 border-color: #63b5ae
}
.cases_container img{
 margin-left: 390px;
}
.price{
  width: 100%;
  height: 835px;
}
.money h2{
  color: #263244;
  text-align: center;
  font-size: 40px;
  margin:100px 0px 35px 0px;
  padding-bottom: 30px;
}
.price_conteiner{
  margin-left: 500px;
}
.price_conteiner h3{
  font-size: 30px;
  color: #1c2534;
  text-transform: uppercase;
  font-weight: 500;
}
.price_conteiner select{
  width: 895px;
  height: 60px;
  border:1px;
  margin: 21px 0px;
  color: #a2a2a2;
  border-color: #eee;
}
.price h4{
  margin-left: 500px;
  font-size: 20px;
  color: #1c2534;
  text-transform: uppercase;
  font-weight: 300;

}
.line{
  background: url(../img/line.png) no-repeat top/900px;
}
.stats{
  width: 100%;
  height: 500px;
  background: url(../img/bg5.png) no-repeat center/cover;
}
.icon_2{
  float: left;
  width: 175px;
  height: 160px;
  margin-left: 80px;
  padding: 90px 10%;
}
.icon_2 img{
  padding:0px 60px;
}
.icon_2 p{
  width: 175px;
  height: 160px;
 text-align: center;
}
.icon_2 h3{
  margin:30px 70px;
  weight:bold;
  font-size: 30px;
  color: #000;

}
.reviews{
  width: 100%;
  height: 595px;

}
.reviews_conteiner p{
  padding: 32px 615px;
  text-align: center;
}
.reviews_conteiner img{
  margin-top: 60px;
  padding-left: 900px;
}
.contacts{
  width: 100%;
  height: 810px;
  background: url(../img/bg6.png) center/cover no-repeat;
}
.contacts_conteiner h2{
  color:#fff;

}
.contacts_conteiner p{
  color: #fff;

}
.contacts_conteiner>p{
  margin: 30px 670px 20px 670px;
}
.contacts_conteiner h3{
  color: #fff;
  text-align: center;
  margin: 40px 0px;
  font-size: 30px;
  text-transform: uppercase;
}

.mycontacts{
  float: left;
  width: 145px;
  height: 80px;
  margin-left: 100px

}
.mycontacts p{
  text-align: center;
}
.mycontacts img{
  margin-bottom: 10px;
  margin-left: 35px;
}
.form{
  margin-left: 595px;

}
.contacts_inf{
  margin: 45px 0px 60px 615px;
}
