body{
  font-family: arial, sans-serif;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
@keyframes comming {
  from{opacity: 0}
  to{opacity: 1}
}
@keyframes updown {
  from{opacity: 0;
  margin-top: -80px;}

  to{opacity: 1;
  margin-top: 0px;}
}
nav{
  width: 100%;
  height: 60px;
  background: #344051;
  position: fixed;

}
.name {
  color: #fff;
  font-size: 25px;
  line-height: 60px;
  padding-left: 390px;
  float: left;
  -webkit-animation: comming 2s;
  animation: comming 2s;
}
.menu{
  float: left;
  padding-left: 430px;

}
.menu li{
  float: left;
  line-height: 60px;
  color: #fff;
  margin-right: 40px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-animation: updown 0.4s forwards;
  animation: updown 0.4s forwards;
  opacity: 0
}
.menu li:nth-child(2){
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.menu li:nth-child(3){
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.menu li:nth-child(4){
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.menu li:nth-child(5){
  -webkit-animation-delay:1.6s;
  animation-delay: 1.6s;
}
.menu li:nth-child(6){
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.menu li a{
  transition: all 0.6s;
  color: #fff;
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.menu li a:visited{
  color: #fff;

}
.menu li a:hover{
  color: #cf7600;
}
.menu li a:active{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.main{
  width: 100%;
  height: 1020px;
  background:url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}
.title_conteiner{
  float: left;
  margin: 435px 0px 0px 400px;
  color: #2c384a;
  text-align: center;
}
.title_conteiner h1{
  font-size: 60px;
  font-weight: 400;

}
.title_conteiner h4{
  margin-top: 60px;
  font-size: 20px;
  color: #79818d;
}
.title_conteiner input{
  height: 40px;
  text-align: center;
  border:2px solid #6d7682;
  background: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 0px 16px;
  margin: 55px 14px 0px 14px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.title_conteiner input:active{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.title_conteiner input:hover{
  color: #fff;
  background: #6d7682;
}
.head h2{
  color: #263244;
  text-align: center;
  font-size: 40px;
  background: url(../img/stick.png) no-repeat bottom/75px ;
  padding:100px 0px 30px 0px;
  weight:bold;

}

.myinf{
  background: url(../img/bg2/png) 75px 5px;
  width: 100%;
  height: 715px;
}
.myinf_conteiner{
  float: left;
}
.myinf p{
  text-align: left;
  margin: 25px 595px;
}
.myinf img{
  margin: 30px 860px;
}
.myinf input{
  height: 40px;
  text-align: center;
  border:2px solid #6d7682;
  background: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 0px 16px;
  margin: 55px 890px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.myinf input:hover{
  color: #fff;
  background: #6d7682;
}
.myinf input:active{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.services{
  width: 100%;
  height: 515px;
  background: url(../img/bg3.png) center/cover no-repeat;
}
.icon{
  float: left;
  width: 215px;
  height: 160px;
  margin-left: 30px;
  padding: 90px 10%;



}
.icon img{
  padding-left: 80px;

}

.icon p{
  width: 215px;
  height: 150px;
  text-align: center;

}
.icon h3{
  padding:40px 30px 20px 25px;

  font-size: 30px;
  color: #cf7600;
  white-space: nowrap;
  text-align: center;
}
.seo h3{
  padding-left: 0px;

}
.seo p{
  padding-left: 40px;
}

.cases{
  width: 100%;
  height: 1175px;

}
.cases_container>p{
  text-align: center;
  margin: 35px 0px;
}

.cases_container h3{
  padding-left: 385px;
  padding-top: 18px;
  font-weight: bold;
  font-size: 30px;
  color: #384354;
  text-transform: uppercase;
}
.cases_inf{
  float: left;
}
.project_inf{
  width: 215px;
  height: 100px;
  float:left;

}
.project_inf p{
    padding-left: 390px;
    text-align:center;

}
.project_name{

  padding-bottom:  200px;
  margin-left: 250px;
}
.project_name h3{


}
.project_name p{
padding: 5px 800px 0px 380px;
  text-align: left;

}
.visit{
   margin: 100px 0px 0px 380px;

}
.visit input{
  width: 205px;
  height: 40px;
 border-radius: 5px;
 border: 3px;
 border-color: #63b5ae;
 border-style: solid;
 padding: 5px;
 font-size: 20px;
 background-color: #63b5ae ;
 color: #fff;
 -webkit-transition: all 0.6s;
 -o-transition: all 0.6s;
 transition: all 0.6s;
}
.visit input:hover{
  background: #2FA397;
}
.visit input:active{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.cases_container img{
 margin-left: 390px;
}
.price{
  width: 100%;
  height: 835px;
}
.money h2{
  color: #263244;
  text-align: center;
  font-size: 40px;
  margin:100px 0px 35px 0px;
  padding-bottom: 30px;
}
.price_conteiner{
  margin-left: 500px;
}
.price_conteiner h3{
  font-size: 30px;
  color: #1c2534;
  text-transform: uppercase;
  font-weight: 500;
}
.price_conteiner select{
  width: 895px;
  height: 60px;
  border:1px;
  margin: 21px 0px;
  color: #a2a2a2;
  border-color: #eee;
}
.price h4{
  margin-left: 500px;
  font-size: 20px;
  color: #1c2534;
  text-transform: uppercase;
  font-weight: 300;

}
.hr{
        margin: 35px 0px 25px 490px;
        width:900px;
}
.hr hr{

      border-style: solid;
      border-width: 1px;
      color: #d1d1d1;
}
.stats{
  width: 100%;
  height: 500px;
  background: url(../img/bg5.png) fixed center no-repeat;
  background-size: cover;
}
.icon_2{
  float: left;
  width: 175px;
  height: 160px;
  margin-left: 45px;
  padding: 90px 10%;
}
.icon_2 img{
  padding:0px 60px;
}
.icon_2 p{
  width: 175px;
  height: 160px;
 text-align: center;
}
.icon_2 h3{
  margin:30px 70px;
  weight:bold;
  font-size: 30px;
  color: #000;

}
.reviews{
  width: 100%;
  height: 595px;

}
.reviews_conteiner p{
  padding: 32px 615px;
  text-align: center;
}
.reviews_conteiner img{
  margin-top: 60px;
  padding-left: 900px;
}
.contacts{
  width: 100%;
  height: 810px;
  background: url(../img/bg6.png) center/cover no-repeat;
}
.contacts_conteiner h2{
  color:#fff;

}
.contacts_conteiner p{
  color: #fff;

}
.contacts_conteiner>p{
  margin: 30px 670px 20px 670px;
}
.contacts_conteiner h3{
  color: #fff;
  text-align: center;
  margin: 40px 0px;
  font-size: 30px;
  text-transform: uppercase;
}

.mycontacts{
  float: left;
  width: 145px;
  height: 80px;
  margin-left: 60px

}
.mycontacts p{
  text-align: center;
}
.mycontacts img{
  margin-bottom: 10px;
  margin-left: 60px;
}
.form{

}
.name{
  float: left;
  margin:0px 30px 0px 200px;
}
.name input{
  width: 350px;
  height: 35px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.name input:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.mail{

}
.mail input{
  width: 350px;
  height: 35px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.mail input:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.textarea{
  margin: 15px 0px 25px 590px;

}
.textarea textarea{
    resize: none;
    width: 735px;
    height: 100px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.textarea textarea:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sumbit{
  margin-left: 48%;
}
.sumbit input{
 border: 2px;
 border-radius: 5px;
 border-color: #fff;
 border-style: solid;
 background: transparent;
 color: #fff;
 padding: 5px;
 -webkit-transition: all 0.6s;
 -o-transition: all 0.6s;
 transition: all 0.6s;
}
.sumbit input:hover{
  color: #000;
  background: #fff;
}
.sumbit input:active{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.form input{
  display:block;
}
.contacts_inf{
  margin: 45px 0px 60px 615px;
  height: 100px;
}
